In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
import plotly.io as pio
pio.renderers.default = "iframe"

In [11]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

Question 1 - Extracting Tesla Stock Data Using yfinance - 2 Points

In [5]:
tesla= yf.Ticker('TSLA')

In [6]:
tesla_data=tesla.history(period="max")

In [7]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

Question 2 - Extracting Tesla Revenue Data Using Webscraping - 1 Points

In [45]:

# Step 1: Download the HTML page
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data = requests.get(url).text

# Step 2: Parse HTML with BeautifulSoup
soup = BeautifulSoup(html_data, "html.parser")

# Step 3: Locate the Tesla Revenue table
tables = soup.find_all("table")
tesla_table = None
for table in tables:
    if "Tesla Quarterly Revenue" in table.text:
        tesla_table = table
        break

# Step 4: Check if table was found
if tesla_table is None:
    print("‚ùå Tesla Revenue table not found.")
else:
    # Step 5: Extract rows and build DataFrame
    tesla_revenue = []
    for row in tesla_table.find_all("tr"):
        cols = row.find_all("td")
        if len(cols) == 2:
            date = cols[0].text.strip()
            revenue = cols[1].text.strip()
            tesla_revenue.append({"Date": date, "Revenue": revenue})

    # Convert to DataFrame
    tesla_revenue = pd.DataFrame(tesla_revenue)

    # Clean the Revenue column
    tesla_revenue["Revenue"] = tesla_revenue["Revenue"].str.replace(r"[$,]", "", regex=True)
    tesla_revenue = tesla_revenue[tesla_revenue["Revenue"] != ""]
    tesla_revenue["Revenue"] = tesla_revenue["Revenue"].astype(float)

    # Print result
    print(tesla_revenue.tail())

          Date  Revenue
48  2010-09-30     31.0
49  2010-06-30     28.0
50  2010-03-31     21.0
52  2009-09-30     46.0
53  2009-06-30     27.0

Question 3 - Extracting GameStop Stock Data Using yfinance - 2 Points

In [38]:
gme = yf.Ticker("GME")

In [39]:
gme_data = gme.history(period="max")

In [40]:
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

Question 4=Extracting GameStop Revenue Data Using Webscraping - 1 Points

In [2]:


import requests
from bs4 import BeautifulSoup
import pandas as pd

# Step 1: Download HTML content
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data = requests.get(url).text
# Step 2: Parse HTML
soup = BeautifulSoup(html_data, "html.parser")

# Step 3: Find GameStop Revenue Table
tables = soup.find_all("table")
gme_table = None

for table in tables:
    if "GameStop Quarterly Revenue" in table.text:
        gme_table = table
        break

# Step 4: Extract data from the table
gme_revenue = []
if gme_table:
    for row in gme_table.find_all("tr"):
        cols = row.find_all("td")
        if len(cols) == 2:
            date = cols[0].text.strip()
            revenue = cols[1].text.strip()
            gme_revenue.append({"Date": date, "Revenue": revenue})
else:
    print("GameStop revenue table not found.")

# Step 5: Create and clean DataFrame
gme_revenue = pd.DataFrame(gme_revenue)
gme_revenue["Revenue"] = gme_revenue["Revenue"].str.replace(r"[$,]", "", regex=True)
gme_revenue = gme_revenue[gme_revenue["Revenue"] != ""]
gme_revenue["Revenue"] = gme_revenue["Revenue"].astype(float)

# Step 6: Show result
print(gme_revenue.tail())

          Date  Revenue
57  2006-01-31   1667.0
58  2005-10-31    534.0
59  2005-07-31    416.0
60  2005-04-30    475.0
61  2005-01-31    709.0

Question 5 - Tesla Stock and Revenue Dashboard - 2 Points

In [43]:


fig = go.Figure()
fig.add_trace(go.Scatter(x=tesla_data['Date'], y=tesla_data['Close'], name="Stock Price"))
fig.add_trace(go.Bar(x=tesla_revenue['Date'], y=tesla_revenue['Revenue'], name="Revenue"))
fig.update_layout(title="Tesla Stock and Revenue", xaxis_title="Date", yaxis_title="USD")
fig.show()

Question 6 - GameStop Stock and Revenue Dashboard- 2 Points

In [ ]:
# Create the figure
fig = go.Figure()

# Add stock price line
fig.add_trace(go.Scatter(
    x=gme_data['Date'], 
    y=gme_data['Close'], 
    mode='lines', 
    name='Stock Price'
))

# Add revenue bar chart
fig.add_trace(go.Bar(
    x=gme_revenue['Date'], 
    y=gme_revenue['Revenue'], 
    name='Revenue'
))

# Update layout
fig.update_layout(
    title="GameStop Stock and Revenue",
    xaxis_title="Date",
    yaxis_title="USD",
    xaxis=dict(rangeslider_visible=True),
    legend=dict(x=0.01, y=0.99)
)

# Show the chart
fig.show()